<nav>
  <a href="#" class="logo-block">
    <picture>
      <source srcset="/images/logo.avif" type="image/avif" />
      <img src="/images/logo.webp" alt="Coffee Cakes Logo" width="1176" height="896" fetchpriority="high" />
    </picture>
    <span class="brand-name">
      <span class="coffee-text">Coffee</span><span class="cakes-text">Cakes</span>
    </span>
  </a>
  <ul class="nav-links">
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#menu">Menu</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
